.cl-wrapper {
  position: relative;
}

.cl-wrapper ul, .cl-wrapper li {
  margin: 0;
  -moz-padding-start: 12px;
  -webkit-padding-start: 12px;
  list-style: none;
}

.cl-wrapper li > .cl-link.cl-link-active {
  color: rgba(66, 185, 131, 0.9);
  transition: .5s;
}

.cl-wrapper li > .cl-transform.cl-link-active {
  transform: translate(3px);
}

.cl-wrapper .cl-link {
  cursor: pointer;
  color: rgba(52, 73, 94, 0.5);
  font-size: 13px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.cl-wrapper .cl-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cl-wrapper .cl-marker path {
  transition: all 0.3s ease;
}
